.menu-icon{
    width: 22px;   
}
button {
    padding: 0;
}
.show-menu {
    display: block;
    height: 100%;
    width: 100%;
}
nav div {
    display: none;
}

#main-nav button {
    color: white;
}

#menu-button, #close {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
}
#close {
    padding: 0;
    margin: .5rem 0 0 0;
    position: absolute;
    right: 1.6rem;
    top: .7rem;
}

#menu {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
}

#main-nav ul  {
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

#menu nav {
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
#menu ul {
    // margin: auto;
    text-align: center;
}
#menu ul li{
    padding: 1rem 0;
}
#main-nav li, #footer-nav li{
    list-style-type: none;
    font-weight: 500;
}

#main-nav li a {
    text-decoration: none;
    color: #638383;
    display: block;
    transition: color .1s ease-in-out;
    font-size: 1.3rem;
}

#main-nav li:hover a {
    color: #154368;
}


#footer-nav ul{
    display: flex;
    flex-flow: row, nowrap;
    gap: .6rem;
    justify-content: center;
    font-size: 1.5rem;
    padding: 0;
    margin-bottom: 0.5rem;
}
#footer-nav li a {
    color: grey;
    padding:0 .3rem;
    transition: color .1s ease-in-out;
}
#footer-nav li a:hover {
    color: #638383;
}
footer ul li a {
    font-size: 1.5rem;
}


// Tag nav
.tag-nav ul li {
    list-style-type: none;
    flex: 1 0 8%;
    display: flex;
    flex-flow: row nowrap;
    padding-right: 2rem;
}
.tag-nav ul {
    padding-left: 0;
    display: flex;
    flex-flow: row nowrap;
    overflow: scroll;
}
.tag-nav ul li a {
    text-decoration: none;
    color: rgb(97, 97, 97);
    display: block;
    font-size: .8rem;
}
.tag-nav ul li a:hover {
    text-decoration: underline;
}


@media screen and (min-width:768px) {
    #menu nav {
        height: unset;
        display: unset;
    }
    nav div {
        display: flex;
    }
    #menu ul li{
        padding: .5rem 0;
    }
    #menu ul {
        display: flex;
        flex-flow: row nowrap;
        margin: unset;
    }
  
    #menu-button, #close {
        display: none;
    }
    #menu {
        background-color: rgba(255, 255, 255, 0);
        position: relative;
        top: 0;
        width: unset;
        height: unset;
    }

    #main-nav li {
        margin-right: 2rem;
    }
    #main-nav li a{
        font-size: .9rem;
    }
    #main-nav li:last-child, #main-nav li:nth-child(3)  {
        margin-right: 0;
    }
    #menu ul li a {
        text-align: right;
    }
    aside {
        grid-column: 1 / -1;
    }
    #main-nav {
        align-content: center;
    }
}
