header {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 50;
    box-shadow: 0 3px 4px rgba(156, 156, 156, 0.192);
}

.wrapper-header {
    // max-width: 1200px;
    padding: .8rem 1.5rem;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }

  @media screen and (min-width: 768px) {

    .wrapper-header {
        @include marginIpad;
        max-width: 800px;

    }
  }