// **********************************
// HOME PAGE 
// READMORE
// **********************************
.read-more {
    background: rgba(255, 255, 255, 0);
    border: none;
    width: 100%;
    margin-top: 1rem;
    position: relative;
    top: -1rem;
}

.read-more i {
    color: #91908f;
    transition: color .1s ease-in-out;
} 
.read-more i:hover {
    color: #638383;
} 
#colorTweak {
    color: #001f33;
}

.wrapper-aside {
 @include marginMobile;
 @include marginIpad;
}
.wrapper-aside div p{
    text-align: left;
  }
  

// **********************************
// ASIDE
// **********************************
aside {
  background-color: #001f33;
  color: #F4F3F0;
  box-shadow: inset 0 3px 4px #000000bb;
}

  
  @media screen and (min-width: 768px) {
    .read-more {
        position: relative;
        top: 0;
    }
    .wrapper-aside {
        @include marginIpad;
        max-width: 800px;
    }
  }

  