.main-wrapper {
    border-top: 1px solid #15436818;
    background-color: #fff;
}
.wrapper-body {
    max-width: 870px;
    margin: auto;
    background-color: #fff;
    padding: 1.5rem;
    border-top: 1px solid rgba(255, 255, 255, 0);
}
.wrapper-projects, #contact  {
    border-top: 1px solid rgba(124, 124, 124, 0.445);
}

.wrapper-projects h3 {
    margin: 0;
    color: #154368;
}