.main-wrapper {
    border-top: 1px solid #6383831f;
    background-color: #fff;
}
.wrapper-body {
    max-width: 870px;
    margin: auto;
    background-color: #fff;
    padding: 1.5rem;
    border-top: 1px solid rgba(255, 255, 255, 0);
}


@media screen and (min-width:768px) {

    .wrapper-body {
        display: block;
        padding: 1.5rem 2.5rem;
        // max-width: 500px;
        margin: auto;
    }
    main {
        margin-bottom: 5rem;
    }
}