// **********************************
// PROJECTS
// **********************************
#projects section {
    border: 1px solid rgba(211, 211, 211, 0.459);
    margin-bottom: 2rem;
    border-radius: 8px;
    // background-color: #f4f3f0a6;
}
// #projects section:hover {
//     background-color: #fff;
// }
#projects section:hover h3 {
    color: rgb(83, 83, 83);
}
// #projects section:hover img {
//     opacity: 1;
//     filter: grayscale(0);
// }
#projects section a img {
    border-radius: 8px 8px 0 0;
}
// ****************************
#index h1 {
    // font-family: "Playfair Display", serif;
    line-height: 48px;
    color: #638383;
    margin: 0;
    margin-bottom: 1rem;
}
#index h4 {
    margin: 0;
}

// ****************************

#overview section:not(:last-of-type), #userExperience section:not(:last-of-type), #userInterface section:not(:last-of-type) {
    padding: 0 0 5rem 0;
    margin-bottom: 5rem;
    border-bottom: 1px solid rgba(211, 211, 211, 0.445);
}
// ****************************

#dimpledesk #persona h2 {
    margin-bottom: 0;
}




@media screen and (min-width:768px) {
    #overview, #userExperience, #userInterface,  #teamMembers, #uiKit {
        grid-column: 1 / -1;
    }
    #projects section a img {
        border-radius: 8px 8px 0 0;
    }
    #projects section {
        margin-bottom: 2rem;
    }

    #about {
        justify-content: space-between;
    }
}

// @media screen and (min-width:1020px) {


// }