
// ****************************

#overview section:not(:last-of-type), #userExperience section:not(:last-of-type), #userInterface section:not(:last-of-type) {
    padding: 0 0 5rem 0;
    margin-bottom: 5rem;
    border-bottom: 1px solid rgba(211, 211, 211, 0.445);
}
// ****************************

#dimpledesk #persona h2 {
    margin-bottom: 0;
}




@media screen and (min-width:768px) {
    #overview, #userExperience, #userInterface,  #teamMembers, #uiKit {
        grid-column: 1 / -1;
    }

    #about {
        justify-content: space-between;
    }
}

// @media screen and (min-width:1020px) {


// }