.logo {
    max-width: 30px;
}

/* secondary pages */
.logo-wrapper a{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}



@media screen and (min-width:768px) {

    .logo {
        max-width: 35px;
    }
}