@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

#blockaday h1 a, .title {
    font-family: "Inter", sans-serif;
    color: #2754BA;
    font-size: 2rem;
}

#blockaday main {
    background-image: url(../imgs/blockaday-cover.jpg);
    @include backgroundImage;
    background-position-y: 4rem;
    padding-top: 14rem;
}



@media screen and (min-width:1024px) {
    #blockaday main {
        background-position-y: 1rem;
        background-position-x: 50%;
        background-size: 40%;
    }
    
}


@media screen and (min-width:1440px) {
    #blockaday main {
        background-size: 400px;
    }


}