#plantor h1 a {
    color: #8F8F57;
}

#plantor main {
    background-image: url(imgs/plantor.jpg);
    background-attachment: fixed;
    background-size: contain;
    background-position-y: 6rem;
    background-repeat: no-repeat;
    padding-top: 20rem;
    background-color: #8F8F57;

}














@media screen and (min-width:768px) {

    #plantor main {
        background-size: 50%;
        padding-top: 16rem;
        background-position-x: 50%;
    }
    .w-i-p {
        grid-column: 1 / -1;
    }
    .w-i-p h2  {
        font-size: 1.5rem;
    }
}









@media screen and (min-width:1024px) {
    #plantor main {
        background-size: 50%;
        background-position-x: 50%;
        padding-top: 20rem;

    }
}