// **********************************
// CONTACT ME
// **********************************

// form {
//     display: grid;
//     grid-template-columns: repeat(1fr);
//     // margin: 3rem 0;
// }
// input {
//     font-family: "Lato", sans-serif;
//     width: 100%;
//     padding: 0.5rem 0;
//     margin: 1rem 0;
//     border: none;
//     border-bottom: 1px solid rgba(128, 128, 128, 0.24);
// }
// textarea {
//     margin: 2rem 0;
//     padding: 0.5rem;
//     font-family: "Lato", sans-serif;
//     border: none;
//     background-color: rgba(231, 231, 231, 0.486);
// }
// textarea:focus {
//     background-color: #fff;
//     border: 1px solid rgba(128, 128, 128, 0.24);
//     outline: none;
// }
// input:focus {
//     outline: none;
// }
#contact {
    padding: 5rem 1.5rem;
}
#contact h2 {
    margin: 1rem 0;
}
#contact button {
    margin-top: 1rem;
    outline: none;
    padding: .5rem 1.5rem;
    background-color: #fff;
    color: #154368;
    border-radius: 500px;
    border: .5px solid #1543682e;
    font-size: 1rem;
    box-shadow: 3px 3px 4px rgba(156, 156, 156, 0.192);
    transition: background-color .4s ease-in-out;
    transition: color .4s ease-in-out;
    transition: border .4s ease-in-out;
}
#contact button:hover {
    background-color: #638383;
    color: #fff;
    border: none;
}
#contact button a {
    text-decoration: underline;
    color: #154368;
    transition: color .4s ease-in-out;
}
#contact button a i {
    padding-right: .5rem;
}
#contact button:hover a {
    color: #ffffff;
    text-decoration: none;

}


// **********************************
// TABLETT
// **********************************
@media screen and (min-width:768px) {

    // form {
    //     display: grid;
    //     grid-template-columns: repeat(1fr);
    // }
    #contact {
        max-width: 800px;
        margin: auto;
        display: block;
        padding: 4rem 3rem;
    }

}