  
// **********************************
// PROJECTS
// **********************************
#projects section {
  border: 1px solid rgba(211, 211, 211, 0.459);
  border-radius: 8px;
  margin-bottom: 3rem;
}

.wrapper-projects, #contact  {
    border-top: 1px solid rgba(124, 124, 124, 0.074);
}

section .content-wrapper h3 {
    margin: 0;
    color: #154368;
    transition: text-decoration ease-in-out .5s;
    transition: font-weight ease-in-out .5s;
}

section:hover .content-wrapper h3 {
    // color: rgb(0, 0, 0);
    text-decoration: underline;
    font-weight: bold;
}
.wrapper-projects {
    padding: 5rem 1.5rem;
    max-width: 1200px;
    margin: auto;
}

.wrapper-projects .image-wrapper {
    background-color: #6383831f;
}
.wrapper-projects section img{
    transition: transform .5s; /* Animation */
    margin: 0 auto;
}

  .wrapper-projects section:hover img {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  .image-wrapper{
    border-radius: 8px 8px 0 0;
}

  .wrapper-projects section {
    box-shadow: 3px 3px 4px rgba(156, 156, 156, 0.192);
  }
  // **********************************
  // HOME PAGE CARDS TEXT AREA
  // **********************************
  .content-wrapper {
    display: grid;
    grid-template-rows: .5fr, 2fr, 3fr;
    padding: .5rem;
  }
  .content-wrapper a, .content-wrapper p{
    padding: .5rem 1rem;
  }
  .content-wrapper p {
    padding-top: 0;
    padding-bottom: 1.5rem;
  }

  
// **********************************
// sCROLLING TAGLINE HOME PAGE CARDS
// **********************************
.tagline {
    font-size: .9rem;
    font-weight: 200;
    letter-spacing: 2px;
    margin: 0 auto;
    white-space: nowrap;
    overflow-x: hidden;
  }
  
  .tagline span {
    display: inline-block;
    padding: 0;
    animation: tagline 12s linear infinite;
    width: 280px;
  }
  
  
  @keyframes tagline {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(-100%, 0);
      }
    }


// **********************************
// TABLET
// **********************************
@media screen and (min-width:768px) {

    header, footer, aside {
        grid-column: 1 / -1;
    }
 
    h1, p {
        margin: 0;
    }
    h1 {
        font-size: 2.5rem;
    }
    #overview, #userExperience, #userInterface,  #teamMembers, #uiKit {
          grid-column: 1 / -1;
      }
    #projects section a img {
          border-radius: 8px 8px 0 0;
      }
    #projects section {
          margin-bottom: 2rem;
      }
      .wrapper-projects {
        padding: 5rem 3rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);  
        gap: 0 2rem;
    }
}


// **********************************
// Desktop
// **********************************
@media screen and (min-width:1024px) {

    // p {
    //     font-size: .9rem;        
    // }
    .wrapper-projects {
        max-width: 870px;
        margin: auto;
    }
 
}



