
.wrapper-projects {
    padding: 2rem 1.5rem;
    max-width: 1200px;
    margin: auto;
}

// **********************************
// TABLET
// **********************************
@media screen and (min-width:768px) {

    header, footer, aside {
        grid-column: 1 / -1;
    }
 
    h1, p {
        margin: 0;
    }
    h1 {
        font-size: 2.5rem;
    }
    aside  {
        border-bottom: 1px solid #BDC6CD;
        padding: 2rem 0;
    }
}





// **********************************
// Desktop
// **********************************
@media screen and (min-width:1024px) {

    p {
        font-size: .9rem;        
    }
    .wrapper-projects {
        max-width: 900px;
        margin: auto;
    }
 
}


