#plantor h1 a{
    color: #8F8F57;
    font-family: "Amatic SC", serif;
    font-size: 2.5rem;
}

#plantor main {
    background-image: url(../imgs/plantor.png);
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 9rem;
    background-position-y: 2.5rem;

    background-color: #DFD7C6;
}
.primary {
    color: #827344;
}

@media screen and (min-width:375px) {

    #plantor main {
        padding-top: 11rem;
    }
}


@media screen and (min-width:425px) {

    #plantor main {
        padding-top: 12rem;
    }
}


@media screen and (min-width:768px) {

    #plantor main {
        padding-top: 20rem;
        background-position-y: -.5rem;

    }
    .w-i-p {
        grid-column: 1 / -1;
    }
    .w-i-p h2  {
        font-size: 1.5rem;
    }
    #p-system-arch img {
        max-width: 90%;
    }

}




@media screen and (min-width:1024px) {
    #plantor main {
        background-color: white;
        padding-top: 20rem;
        background-size: 80%;
        background-position-y: -2rem;
        background-position-x: 50%;
    }
}




@media screen and (min-width:1440px) {
    #plantor main {
        background-image: url(../imgs/plantor-large.png);
        background-size: auto 300px;
        background-position-y: 2rem;
        padding-top: 16rem;
    }
}