#resume main {
    padding: 1rem;
    height: 90vh;
    width: 100%;
}


@media screen and (min-width:768px) {
    #resume main {
        padding: 2.5rem 8rem;
    }

}




@media screen and (min-width:1024px) {
    #resume main {
        padding: 2.5rem 8rem;
    }
}




@media screen and (min-width:1440px) {
    #resume main {
        padding: 2.5rem 50rem;
    }
}