#tenex main {
    background-image: url(../../../imgs/tenex.jpg);
    background-attachment: fixed;
    background-size: contain;
    background-position-y: 3rem;
    background-repeat: no-repeat;
    padding-top: 12rem;
}

#tenex h1 a
// ,  .wrapper-projects a[href="tenex.html"] h2 
{
    font-family: "Futura", sans-serif;
    color: #81B7AE;
}

#tenex #userExperience ul li{
    font-weight: 300;
    line-height: 1.5;
    font-size: .9rem;
    padding: .5rem 0;
}

#tenex h4 {
    color: #81B7AE;
}


@media screen and (min-width:375px) {

    #tenex main {
        padding-top: 12rem;
        background-position-y: 1rem;
    }
}


@media screen and (min-width:425px) {

    #tenex main {
        padding-top: 13rem;
        background-position-y: 1rem;   
     }
}

@media screen and (min-width:768px) {

    #tenex main {
        background-size: contain;
        padding-top: 24rem;
        background-position-y: -1rem;   
    }
    #tenex .scale {
        max-width: 100%;
    }
    #tenex .form-gap {
        margin-bottom: 1rem;
    }
}





@media screen and (min-width:1024px) {
    #tenex main {
        background-size: 70%;
        padding-top: 22rem;
        background-position-x: 50%;
        // background-position-y: -2rem;
        
    }
    
}




@media screen and (min-width:1440px) {
    #tenex main {
        background-size: 50%;
        padding-top: 23rem;

    }
    
}
