#vls h1 a
// ,  .wrapper-projects a[href="vls.html"] h2 
{
    color: #E75424;
    font-family: "Adelle", serif;
    font-size: 1.2rem;
}
#vls main {
    background-image: url(../vls/hero-img.png);
    background-color: #BEC5CD;
    background-attachment: fixed;
    background-size: contain;
    background-size: 130%;
    background-position-y: 3rem;
    background-repeat: no-repeat;
    padding-top: 5rem;
}
#vls h4 {
    margin: .5rem 0;
}
.services {
    margin: 4rem 0;
    // display: flex;
    // flex-flow: row nowrap;
    // align-items: center;
    // gap: 1rem;
}
.services img {
    max-width: 20%;
    // margin: auto;
}


@media screen and (min-width:375px) {

    #vls main {
        padding-top: 6rem;
    }
}


@media screen and (min-width:425px) {

    #vls main {
        padding-top: 7rem;
    }
}


@media screen and (min-width:768px) {

    #vls main {
        background-size: 110%;
        padding-top: 10rem;
    }
    #vls h1 a {
        font-size: 1.4rem;
    }
}





@media screen and (min-width:1024px) {
    #vls main {
        padding-top: 10rem;
        background-position-x: 50%;
        background-size: 80%;

    }
    
}

@media screen and (min-width:1440px) {
    #vls main {
        background-size: 60%;
        padding-top: 11rem;
        background-position-x: 50%;
    }
    
}
